.idea
*.iml
target
.attach_pid*
.fosstars
src/main/jupyter/oss/security/.ipynb_checkpoints
src/main/jupyter/oss/security/__pycache__/
src/test/shell/tool/github/*.log
.classpath
.project
.settings
.checkstyle
.DS_Store